@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 249, 255; /* Light Blue tint */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    no-repeat fixed;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c084fc; /* Purple thumb */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}